body {
    color: hsla(220 13% 69% / 7);
}

.login-pf-page {
    background-color: hsl(262 80% 50%);
    min-height: 100vh;
}

#kc-header {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.card-pf {
    background-color: rgb(42, 48, 60);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 50%;
}

input[type] {
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    flex-shrink: 1;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-width: 1px;
    border-radius: 7px;
    border-color: hsl(262 80% 50% / 1);
    border-width: 2px;
}

input[type]:focus-visible {
    outline: 2px solid hsl(262 80% 50% / 1);
    border-radius: 7px;
}

.pf-c-button.pf-m-primary {
    background-color: hsl(262 80% 50%);
    width: 50%;
    margin: 0 auto;
}

.form-group label {
    font-size: 1rem;
}

input[type] + span {
    font-size: 0.9rem;
    color: red;
 }

.pf-c-form-control[aria-invalid="true"] {
     --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    outline: 2px solid red;
    border-radius: 7px;
 }


@media only screen and (max-width: 950px) { 
.card-pf {
    max-width: 80%;
}
}